[Desktop Entry]
Name=Nmap - the Network Mapper
Comment=Network exploration or security auditing
Encoding=UTF-8
Exec=pentestexec "nmap"
Icon=parrot-nmap.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;01-04-network-scanners;
