[Desktop Entry]
Name=ndiff - Nmap's result compare utility
Comment=The Network Mapper - result compare utility
Encoding=UTF-8
Exec=pentestexec "ndiff"
Icon=parrot-nmap.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;01-04-network-scanners;

