[Desktop Entry]
Name=ncat
Comment=NMAP netcat reimplementation
Encoding=UTF-8
Exec=menuexec "ncat -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
